<div class="main-container">
    <div class="nav-container">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/parentcomponent">Parent component</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/objectcomponent">Object component</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/studentcomponent">Student component</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/users">Users</a></li>
          </ul>
    </div>
    <div class="component-container">
  
        
    </div> 
  </div>